.todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    border: solid 1px lightgray;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttons,
    .button {
        width: 28%;
        display: flex;
        justify-content: space-between;
    }

    .button {
        justify-content: flex-end;
    }
}
